---
/**
 * @component Card
 * @description A versatile card component with customizable styling and optional icon.
 * Supports alternate color schemes and configurable shadow depths.
 *
 * @param {Props} props - Component properties
 *
 * @example Basic Usage
 * ```astro
 * <Card
 *   title="Feature"
 *   description="Description of the feature"
 * />
 * ```
 *
 * @example With Icon and Custom Shadow
 * ```astro
 * <Card
 *   title="Service"
 *   description="Our service details"
 *   iconSrc="icon-name"
 *   shadowSize="lg"
 *   alignIcon="right"
 * />
 * ```
 *
 * @example Alternate Color Scheme
 * ```astro
 * <Card
 *   title="About"
 *   description="About us content"
 *   alt={true}
 *   class="my-custom-class"
 * />
 * ```
 *
 */

import { Icon } from "astro-icon/components";

interface Props {
	/** Card title text */
	title: string;
	/** Card description content */
	description: string;
	/** Use alternate color scheme */
	alt?: boolean;
	/** Optional icon source name i.e  ri:star */
	name?: string;
	/** Optional left/right icon alignment */
	alignIcon?: "left" | "right" | null;
	/** Shadow size variant */
	shadowSize?: "sm" | "md" | "lg" | "none" | null;
	/** Additional CSS classes */
	class?: string | undefined;
}

const {
	title,
	description,
	alt = false,
	name: iconName = null,
	alignIcon = "left",
	shadowSize = "sm",
	class: className,
} = Astro.props;

const options = {
	"rounded-theme": true,
	"bg-theme-primary border-theme-primary": !alt,
	"bg-theme-secondary border-theme-secondary": alt,
	"shadow-sm": shadowSize === "sm",
	"shadow-md": shadowSize === "md",
	"shadow-lg": shadowSize === "lg",
	"shadow-none": shadowSize === "none",
};
---

<div
	class:list={[
		"border-2 shadow-theme-primary p-4 w-full h-auto md:max-w-xs xl:max-w-md ",
		options,
		className,
	]}
>
	<p
		class:list={[
			"h3",
			"uppercase",
			"font-bold",
			"mb-2",
			{ "text-theme-primary": !alt, "text-theme-secondary": alt },
		]}
	>
		<span class="flex items-center gap-4">
			{
				iconName && alignIcon === 'left' && (
					<Icon name={iconName} width={42} height={42}  />
			<span class="md:flex-1 sm:border-b sm:border-theme-primary" />
				)
			}
			{title}
			{
				iconName && alignIcon === 'right' && (
					<span class="md:flex-1 sm:border-b sm:border-theme-primary" />
					<Icon name={iconName} width={42} height={42}  />
				)
			}
			</span>

		</span>
	</p>
	<hr
		class:list={[
			"border-1 mb-2",
			{ "border-theme-primary": !alt },
			{ "border-theme-secondary": alt },
		]}
	/>
	<p class:list={["text-lg", { "text-theme-primary": !alt, "text-theme-secondary": alt }]}>
		{description}
	</p>
</div>
